# PowerShell
*.ps1xml
*.psm1
*.psd1
*.ps1.test

Thumbs.db
desktop.ini

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


*.log

# Outros
*.tmp
*.bak 
